@import '~node_modules/modern-normalize/modern-normalize.css';

// .js-breed-select{
//     visibility: hidden;
// }
body{
    padding: 10px;
}

.cat-info{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.img-container > img{
    width: 350px;
}

.text-container{
    width: 500px;
    text-decoration: dotted;

}


